.casilla {
  background-color: white;
  background-image: none;
  background-size: cover;
  width: 280px;
  height: 280px;
  position: relative;
  transition: transform 0.7s;
  cursor: pointer;
  border: 1px solid #000;
}

.casilla:hover {
  background-color: gray;
}

#tablero div {
  margin: 0;
  padding: 0;
  gap: 0;
}

#tablero {
  margin-top: 40px;
  height: 100vh;
  max-height: 700px;
  display: grid;
  grid-template-columns: 280px 280px 280px;
  justify-content: center;
  gap: 0;
}

#mensaje-victoria {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem 2rem;
  border-radius: 1rem;
  z-index: 10;
}

@media (max-width: 900px) {
  #tablero {
    margin-top: 20px;
    height: 50vh;
    max-height: 700px;
    display: grid;
    grid-template-columns: 180px 180px 180px;
    justify-content: center;
  }
  .casilla {
    width: 180px;
    height: 180px;
    position: relative;
    transition: transform 0.7s;
    cursor: pointer;
    border: 1px solid #000;
  }
}

@media (max-width: 588px) {
  #tablero {
    margin-top: 20px;
    height: 50vh;
    max-height: 700px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
    gap: 0;
  }
  .casilla {
    gap: 0px;
    width: 100px;
    height: 100px;
    position: relative;
    transition: transform 0.7s;
    cursor: pointer;
    border: 1px solid #000;
  }
}
